---
extends: default

rules:
  line-length:
    max: 120  # Allow longer lines
    level: warning
  document-start: disable  # GitHub Actions doesn't require "---"
  truthy:
    allowed-values: ['true', 'false', 'on', 'off']  # Allow "on:" keyword
  comments:
    min-spaces-from-content: 1
